@model CustomerMasterModel

@{
    ViewData["Title"] = "Customer Master";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>
<div id="popupMessage" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: black; padding: 30px; border: 10px solid #9FBCDC; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>



<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card" style="height:40px">
                <div class="card-body " style="background-color:#007bff">
                    <div style="align-items:center">
                        <div class="container" style="text-align:center">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">Customer Master</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
   
    <div class="row" style="margin-top:50px">
        <div class="col-md-12 col-lg-2">
        </div>
        
           
               
                <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #e0efff 51%, #add5ff 100%);">

                    <div class="row">
                       
                        <div class="col-md-12 col-lg-6">
                            <div class="form-floating form-floating-outline mb-4">

                                <input asp-for="MobileNumber" class="form-control" placeholder="Mobile Number" required />
                                <label asp-for="MobileNumber" class="control-label">Mobile Number</label>

                                <span asp-validation-for="MobileNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <button type="submit" style="width:100px" value="Create" asp-action="GetCustomer" class="btn btn-primary">Get</button>
                        </div>

                    </div>
                   
              
               
    <div class="row">

      

        <div class="col-md-12 col-lg-6">

         
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="CustomerID" class="form-control" placeholder="Customer ID" />
                        <label asp-for="CustomerID" class="control-label">Customer ID</label>

                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" />
                        <label asp-for="CustomerName" class="control-label">Customer Name</label>

                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="DateofBirth" type="date" class="form-control" placeholder="Date of Birth" />
                        <label asp-for="DateofBirth" class="control-label">Date of Birth</label>

                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                    </div>
                   

         
        </div>
        
        <div class="col-md-12 col-lg-6">
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="Address" class="form-control" placeholder="Customer Address" aria-describedby="text-to-speech-addon"></textarea>
                                <label asp-for="Address" class="control-label">Customer Address</label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                    <div class="mb-4">
                        <label class="control-label">Gender</label>
                        <div class="form-check">
                            <input asp-for="Gender" class="form-check-input" type="radio" value="Male" id="genderMale" />
                            <label class="form-check-label" for="genderMale">Male</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Gender" class="form-check-input" type="radio" value="Female" id="genderFemale" />
                            <label class="form-check-label" for="genderFemale">Female</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Gender" class="form-check-input" type="radio" value="Other" id="genderOther" />
                            <label class="form-check-label" for="genderOther">Other</label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>



                    <div class="form-floating form-floating-outline mb-4">

                        <input asp-for="City" class="form-control" placeholder="City" />
                        <label asp-for="City" class="control-label"></label>

                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
         
       
    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        @*    <div class="col-md-12 col-lg-2">
        <div class="col-md-12 col-lg-1" style="height:10%;">
        <div class="form-floating form-floating-outline mb-4">
        </div>
        </div>
        </div>
        </div> *@
        <div class="form-group">
            <center>
                <button type="submit" style="width:180px" value="Create" asp-action="AddCustomer" class="btn btn-primary">Save</button>
                <button type="submit" style="width:180px" value="Create" asp-action="DeleteCustomer" class="btn btn-primary">Delete</button>
                <button type="submit" style="width:180px" value="Create" asp-action="GetDeleteRetrieve" class="btn btn-primary">DeleteRetrieve</button>

            </center>
        </div>
        @*
        <div class="row" style="margin-top:40px">
        <div class="col-md-12 col-lg-1 ">
        </div>
        <div class="col-md-12 col-lg-1 ">
        </div>
        </div> *@
    </div>

    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            handleMessages("@ViewBag.ErrorMessage");
        </script>
    }
</form>
@*        <div class="form-floating form-floating-outline mb-4">

                <input asp-for="PointsReedem" class="form-control" placeholder="PointsReedem" />
                <label asp-for="PointsReedem" class="control-label"></label>

                <span asp-validation-for="PointsReedem" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">

                <input asp-for="VoucherDiscount" class="form-control" placeholder="VoucherDiscount" />
                <label asp-for="VoucherDiscount" class="control-label"></label>

                <span asp-validation-for="VoucherDiscount" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">

                <input asp-for="VoucherNumber" class="form-control" placeholder="VoucherNumber" />
                <label asp-for="VoucherNumber" class="control-label"></label>

                <span asp-validation-for="VoucherNumber" class="text-danger"></span>
                </div> *@


@*  <div class="form-group">
            <center>

                <button type="submit" style="width:180px" value="Create" asp-action="AddCustomer" class="btn btn-primary">Save</button>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">


                        @ViewBag.Message
                    </div>
                }
            </center>
        </div>

        <div class="form-group">
            <center>

                <button type="submit" style="width:180px" value="Create" asp-action="DeleteCustomer" class="btn btn-primary">Delete</button>
            </center>
            @if (ViewBag.delMessage != null)
            {
                <div class="alert alert-success">


                    @ViewBag.delMessage
                </div>
            }
        </div>

        <div class="form-group">
            <center>
                <button type="submit" style="width:180px" value="Create" asp-action="GetDeleteRetrieve" class="btn btn-primary">DeleteRetrieve</button>
            </center>
            @if (ViewBag.DelRetrieve != null)
            {
                <div class="alert alert-success">


                    @ViewBag.DelRetrieve
                </div>
            }
        </div>



        <div class="col-md-12 col-lg-1" style="height=10%">
            <div class="form-floating form-floating-outline mb-4">
            </div>
        </div> *@


