@model CustomerMasterModel

@{
    ViewData["Title"] = "CustomerMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    $(document).ready(function () {
        var message = "@ViewBag.Message";
        if (message) {
            showPopup(message);
        }

        var errorMessage = "@ViewBag.ErrorMessage";
        if (errorMessage) {
            showPopup(errorMessage);
        }

        var delMessage = "@ViewBag.delMessage";
        if (delMessage) {
            showPopup(delMessage);
        }

        var delRetrieve = "@ViewBag.DelRetrieve";
        if (delRetrieve) {
            showPopup(delRetrieve);
        }
    });
</script>

<div id="popupMessage" class="dividerblack popborder" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: #fff; padding: 30px; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<style>
    .popborder {
        border: 10px solid #fff;
    }
</style>

<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12 col-lg-0"></div>
        <div class="col-md-12 col-lg-12" style="padding: 0;">
            <div class="card" style="height:40px;">
                <div class="card-body dividerblack">
                    <div style="display: flex; align-items: center; height: 100%;">
                        <div class="container" style="text-align: left; width: 100%;">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'; margin: 0;">
                                Customer Master
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" style="height:8%"></div>

    <div class="row" style="margin-top:60px">
        <div class="col-md-12 col-lg-0"></div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body dividerblack">
                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-0"></div>

                        <div class="col-md-12 col-lg-4">
                            <div class="form-floating form-floating-outline mb-4">

                                <input asp-for="MobileNumber" class="form-control" placeholder="Mobile Number" pattern="^\d{10}$" title="Mobile Number should be exactly 10 digits" value="@Model.MobileNumber" required />
                                <label asp-for="MobileNumber" class="control-label">Mobile Number</label>

                                <span asp-validation-for="MobileNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-4">
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" value="@Model.CustomerName" pattern="^[A-Za-z\s]+$" title="Customer Name should contain only letters and spaces" />
                                <label asp-for="CustomerName" class="control-label">Customer Name</label>

                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>

                        </div>



                        <div class="col-md-12 col-lg-2" style="align-items:center">
                            <button type="submit" style="width:100px" value="Create" asp-action="GetCustomer" class="btn btn-primary">Get</button>
                        </div>

                    </div>
                   
              <br/>

               
    <div class="row">
                        <div class="col-md-12 col-lg-0"></div>
        <div class="col-md-12 col-lg-4">

                            <div class="form-floating form-floating-outline mb-4 custom-date-picker">
                                <input asp-for="DateofBirth" type="date" value="@Model.DateofBirth" class="form-control" placeholder="DateofBirth" />
                                <label asp-for="DateofBirth" class="control-label">Date of Birth</label>
                                <span asp-validation-for="DateofBirth" class="text-danger"></span>
                            </div>
         
        </div>

                        <div class="col-md-12 col-lg-4">
                            <fieldset class="border p-3">
                                <legend class="w-auto">Gender</legend>
                            <div class="form-check">
                                <input asp-for="Gender" class="form-check-input" type="radio" value="Male" id="genderMale" />
                                <label class="form-check-label" for="genderMale">Male</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Gender" class="form-check-input" type="radio" value="Female" id="genderFemale" />
                                <label class="form-check-label" for="genderFemale">Female</label>
                            </div>
                            <div class="form-check">
                                <input asp-for="Gender" class="form-check-input" type="radio" value="Other" id="genderOther" />
                                <label class="form-check-label" for="genderOther">Other</label>
                            </div>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                            </fieldset>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-0"></div>
        <div class="col-md-12 col-lg-4">
                            <div class="form-floating form-floating-outline mb-4">
                                <textarea asp-for="Address" class="form-control" placeholder="Customer Address"></textarea>
                                <label asp-for="Address" class="control-label">Customer Address</label>
                             
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                   
</div>

                            <div class="col-md-12 col-lg-4">
                    <div class="form-floating form-floating-outline mb-4">

                                <input asp-for="City" class="form-control" placeholder="City" value="@Model.City" pattern="^[A-Za-z\s]+$" title="City Name should contain only letters and spaces" />
                        <label asp-for="City" class="control-label"></label>

                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>



                            <div class="col-md-12 d-flex justify-content-center">

                                <button type="submit" style="width:180px" value="Create" asp-action="AddCustomer" class="btn btn-primary mx-2">Save</button>
                                <button type="submit" style="width:180px" value="Create" asp-action="DeleteCustomer" class="btn btn-primaryred mx-2">Delete</button>
                                <button type="submit" style="width:180px" value="Create" asp-action="GetDeleteRetrieve" class="btn btn-primaryellow mx-2">DeleteRetrieve</button>


                            </div>
       
    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row" style="margin-top:30px">
       
        <div class="form-group">
            <br />
            <center>
                   
            </center>
        </div>
      
    </div>

</form>







