@model List<StellarBillingSystem.Models.PaymentTableViewModel>

@{
    ViewData["Title"] = "PaymentScreen";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml"; // Adjust layout path as needed
}


<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>

<div id="popupMessage" class="dividerblack popborder" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: black; padding: 30px; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<style>
    .popborder {
        border: 10px solid #fff;
    }
</style>

<form asp-controller="StellarBilling" asp-action="AddPayment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="row">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body dividerblack">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright';margin-left:27%;">Payment Screen</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row" style="height:8%">
    </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body dividerblack ">

                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-10">


                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="BillId" name="BillId" placeholder="BillId" value="@ViewBag.BillId" required />
                                <label for="BillId" class="control-label">Bill ID</label>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-2" style="align-items:center">
                            <div class="form-group">
                                <center>

                                    <button type="submit" class="btn btn-primary" name="buttonType" value="GetBill">GetBill</button>

                                </center>
                            </div>


                        </div>
                    </div>

                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-6">

                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="Balance" name="Balance" placeholder="Balance" value="@ViewBag.Balance" />
                                <label for="Balance" class="control-label">Balance</label>
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-floating form-floating-outline mb-4">

                                <input type="date" class="form-control" id="BillDate" name="BillDate" placeholder="Bill Date" value="@ViewBag.BillDate" />
                                <label for="BillDate" class="control-label">Bill Date</label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">

                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="PaymentId" name="PaymentId" placeholder="Payment ID" value="@ViewBag.PaymentId" />
                                <label for="PaymentId" class="control-label">Payment ID</label>

                            </div>
                        </div>
                        <div class="col-md-12 col-lg-1">
                        </div>
                        <div class="col-md-12 col-lg-3">
                           
                                <button type="submit" class="btn btn-primary" name="buttonType" value="GetPaymentDetails">GetPaymentDetails </button>
                          
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-8">

                                <div class="form-floating form-floating-outline mb-4">

                                    <input type="text" class="form-control" id="CustomerNumber" name="CustomerNumber" placeholder="Customer Number" value="@ViewBag.CustomerNumber" />
                                    <label for="CustomerNumber" class="control-label">Customer Number</label>

                                </div>
                            </div>
                            <div class="col-md-12 col-lg-1">
                            </div>
                            <div class="col-md-12 col-lg-3">

                               
                                    <button type="submit" class="btn btn-primary" name="buttonType" value="GetPoints">GetPoints </button>
                               

                            </div>
                    </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-8">


                                    <div class="form-floating form-floating-outline mb-4">

                                        <input type="text" class="form-control" id="ReedemPoints" name="ReedemPoints" placeholder="Redeem Points" value="@ViewBag.ReedemPoints" />
                                        <label for="ReedemPoints" class="control-label">Redeem Points</label>

                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-1">
                                </div>
                                <div class="col-md-12 col-lg-3">

                                   
                                        <button type="submit" class="btn btn-primary" name="buttonType" value="Redeem">Redeem </button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body dividerblack">

                    @if (ViewBag.Slots != null)
                    {
                      
                          
                                    <h3>Payment Details</h3>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Payment Date</th>
                                                <th>Payment Description</th>
                                                <th>Payment Mode</th>
                                                <th>Transaction Number</th>
                                                <th>Payment Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < ViewBag.Slots.Count; i++)
                                            {
                                                var detail = ViewBag.Slots[i];
                                                <tr>
                                                    <td>
                                                        <input type="radio" name="selectedSlotId" value="@detail.PaymentDiscription" />
                                                        @*  <input type="hidden" name="billDetails[@i].DetailID" value="@detail.DetailID" />
                                                <input type="hidden" name="billDetails[@i].BillID" value="@ViewBag.BillID" /> *@
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" name="billpayment[@i].PaymentDate" value="@detail.PaymentDate" type="date" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="billpayment[@i].PaymentDiscription" value="@detail.PaymentDiscription" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="billpayment[@i].PaymentMode" value="@detail.PaymentMode" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="billpayment[@i].PaymentTransactionNumber" value="@detail.PaymentTransactionNumber" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="billpayment[@i].PaymentAmount" value="@detail.PaymentAmount" />
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>

                               
                           
                    }
                </div>

            </div>
        </div>
    </div>

       
    <center>
        <div class="row mt-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="buttonType" value="DeletePayment">Delete Payment</button>
                <button type="submit" class="btn btn-primary" name="buttonType" value="AddPayment">AddPayment</button>
                <button type="submit" class="btn btn-primary" name="buttonType" value="Save">Save</button>
                <button type="submit" class="btn btn-primary" name="buttonType" value="PaymentReceipt">PaymentReceipt</button>
            </div>
        </div>
    </center>


    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }

    @if (ViewBag.ReedemMessage != null)
    {
        <script>
            handleMessages("@ViewBag.ReedemMessage");
        </script>
    }

    @if (ViewBag.DeleteMessage != null)
    {
        <script>
            handleMessages("@ViewBag.DeleteMessage");
        </script>
    }
</form>
