@model PaymentTableViewModel

@{
    ViewData["Title"] = "PaymentBilling";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml"; // Adjust layout path as needed
}



<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>

<div id="popupMessage" class="dividerblack popborder" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: #fff; padding: 30px; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<style>
    .popborder {
        border: 10px solid #fff;
    }
</style>



<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    

    <div class="row">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body dividerblack">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright';margin-left:32%;">Payment Screen</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row" style="height:8%">
    </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body dividerblack ">

                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-5">


                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="BillId" name="BillId" placeholder="BillId" value="@Model.BillId" required />
                                <label for="BillId" class="control-label">Bill ID</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="form-floating form-floating-outline mb-4 custom-date-picker">

                                <input type="date" class="form-control" id="BillDate" name="BillDate" placeholder="Bill Date" value="@Model.BillDate" required />
                                <label for="BillDate" class="control-label">Bill Date</label>

                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2" style="align-items:center">
                            <div class="form-group">
                                <center>

                                    <button type="submit" asp-action="PaymentAction" class="btn btn-primary" name="buttonType" value="GetBill">GetBill</button>

                                </center>
                            </div>


                        </div>
                    </div>
                    <br/>
                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-10">

                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="BillValue" name="BillValue" placeholder="BillValue" value="@Model.Balance" readonly/>
                                <label for="BillValue" class="control-label">BillValue</label>
                            </div>

                        </div>
                      
                    </div>
                 
                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-10">

                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="Balance" name="Balance" value="@Model.StrBillvalue" placeholder="Balance" readonly/>
                                <label for="Balance" class="control-label">Balance</label>
                            </div>

                        </div>

                    </div>
                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-10">

                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" class="form-control" id="PaymentId" name="PaymentId" placeholder="Payment ID" value="@Model.PaymentId" />
                                <label for="PaymentId" class="control-label">Payment ID</label>

                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <div class="form-group">
                                <center>

                                    <button type="submit" class="btn btn-primary" name="buttonType" value="GetPayment">GetPayment</button>
                                </center>

                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary" name="buttonType" value="AddPayment">AddPayment</button>



                </div>
            </div>
        </div>
    </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body dividerblack">

                    @if (Model.Viewpayment != null)
                    {
                        
                        <div class="row gy-4">
                            <div class="col-md-12 col-lg-0.5">
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body ">
                                        <div class="table-responsive">

                                            <center>
                                                <h2 class="centered text-white" style="font-family:'Lucida Bright';">Payment Details</h2>
                                            </center>
                                            <br />

                     
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Payment Date</th>
                                    <th>Payment Description</th>
                                    <th>Payment Mode</th>
                                    <th>Transaction Number</th>
                                    <th>Payment Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Viewpayment.Count; i++)
                                {
                                    var detail = Model.Viewpayment[i];
                                    <tr>
                                        <td>
                                            <input type="radio" name="selectedSlotId" value="@detail.PaymentDiscription" />
                                            @*  <input type="hidden" name="billDetails[@i].DetailID" value="@detail.DetailID" />
                                    <input type="hidden" name="billDetails[@i].BillID" value="@ViewBag.BillID" /> *@
                                        </td>
                                        <td>
                                                                <input type="date" class="form-control custom-date-picker" name="Viewpayment[@i].PaymentDate" value="@Model.Viewpayment[i].PaymentDate" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="Viewpayment[@i].PaymentDiscription" value="@Model.Viewpayment[i].PaymentDiscription" readonly />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="Viewpayment[@i].PaymentMode" value="@Model.Viewpayment[i].PaymentMode" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="Viewpayment[@i].PaymentTransactionNumber" value="@Model.Viewpayment[i].PaymentTransactionNumber" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="Viewpayment[@i].PaymentAmount" value="@Model.Viewpayment[i].PaymentAmount" />

                                       
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>


                                            <br />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    }
                </div>

            </div>
        </div>
    </div>


    <center>
        <div class="row mt-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="buttonType" value="Save">SavePayment</button>
                <button type="submit" class="btn btn-primary" name="buttonType" value="DeletePaymentDetail">DeletePaymentDetail</button>
                <button type="submit" class="btn btn-primary" name="buttonType" value="DeletePayment">DeletePayment</button>
               </div>
        </div>
    </center>


    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }

    @if (ViewBag.ReedemMessage != null)
    {
        <script>
            handleMessages("@ViewBag.ReedemMessage");
        </script>
    }

    @if (ViewBag.DeleteMessage != null)
    {
        <script>
            handleMessages("@ViewBag.DeleteMessage");
        </script>
    }



</form>


