@model ProductMatserModel


@{
    ViewData["Title"] = "ProductMasterModel";
}

<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }

</script>


<div id="popupMessage" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: black; padding: 30px; border: 10px solid #9FBCDC; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card" style="height:40px">
                <div class="card-body " style="background-color:#007bff">
                    <div style="align-items:center">
                        <div class="container" style="text-align:center">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">Product Master</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  
   

    <div class="row gy-4" style="margin-top:50px">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">

            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #e0efff 51%, #add5ff 100%);">

                    <div class="row">
                        <div class="col-md-12 col-lg-1">
                        </div>
                     
                        <div class="col-md-12 col-lg-8">

                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="ProductID" class="form-control" placeholder="Product ID" required />
                                <label asp-for="ProductID" class="control-label">Product ID</label>

                                <span asp-validation-for="ProductID" class="text-danger"></span>
                            </div>

                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="BarcodeId" class="form-control" placeholder="Barcode ID"  />
                                <label asp-for="BarcodeId" class="control-label">Barcode ID</label>

                                <span asp-validation-for="BarcodeId" class="text-danger"></span>
                            </div>

                        </div>
                     
                        <div class="col-md-12 col-lg-2" style="width:110px">
                            <button type="submit" style="width:100px" value="Get" asp-action="AddProduct" name="buttonType" class="btn btn-primary">Get</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">

            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #e0efff 51%, #add5ff 100%);">

                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-1">
        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="form-floating form-floating-outline mb-4">
                                @{
                                    var getscheduleid = ((IEnumerable<CategoryMasterModel>)ViewData["categoryid"])
                                    .Select(m => new SelectListItem
            {
                Value = m.CategoryID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.CategoryID} - {m.CategoryName}"
            });
                                }

                                @Html.DropDownListFor(model => model.CategoryID, getscheduleid, "Select Category ID", new { @class = "form-control" })
                                <label asp-for="CategoryID" class="control-label">Category ID</label>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <textarea asp-for="ProductName" class="form-control" placeholder="Product Name" style="height: 200px;">@Model.ProductName</textarea>
                                <label asp-for="ProductName" class="control-label">Product Name</label>
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                          
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="Brandname" value="@Model.Brandname" class="form-control" placeholder="Brand Name" />
                                <label asp-for="Brandname" class="control-label">Brand Name</label>

                                <span asp-validation-for="Brandname" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="col-md-12 col-lg-5">
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="Price" value="@Model.Price" class="form-control" placeholder="Price" pattern="^\d{1,3}(,\d{3})*(\.\d{1,2})?$|^\d+(\.\d{1,2})?$"
                                       title="Please enter a valid price format, e.g., ₹3000, ₹3,000.00" />
                                <label asp-for="Price" class="control-label">Price</label>

                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="SGST" value="@Model.SGST" class="form-control" placeholder="SGST" />
                                <label asp-for="SGST" class="control-label">SGST</label>

                                <span asp-validation-for="SGST" class="text-danger"></span>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="CGST" value="@Model.CGST" class="form-control" placeholder="CGST" />
                                <label asp-for="CGST" class="control-label">CGST</label>

                                <span asp-validation-for="CGST" class="text-danger"></span>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="OtherTax" value="@Model.OtherTax" class="form-control" placeholder="OtherTax" />
                                <label asp-for="OtherTax" class="control-label">OtherTax</label>

                                <span asp-validation-for="SGST" class="text-danger"></span>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                @{
                                    var discount = ((IEnumerable<DiscountCategoryMasterModel>)ViewData["discountid"])
                                    .Select(m => new SelectListItem
            {
                Value = m.DiscountPrice.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.CategoryID} - {m.DiscountPrice}"
            });
                                }

                                @Html.DropDownListFor(model => model.DiscountCategory, discount, "Select Discount ID", new { @class = "form-control" })
                                <label asp-for="DiscountCategory" class="control-label">Discount Category</label>
                                <span asp-validation-for="DiscountCategory" class="text-danger"></span>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="TotalAmount" id="TotalAmount" value="@Model.TotalAmount" class="form-control" placeholder="Total Amount" readonly />
                                <label asp-for="TotalAmount" class="control-label">Total Amount</label>

                                <span asp-validation-for="TotalAmount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-1">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <br />


        <div class="col-md-12 col-lg-1" style="height:10%;">
            <div class="form-floating form-floating-outline mb-4">
            </div>
        </div>
        <div class="form-group" style="margin-top:30px">
            <center>

                <button type="submit" asp-action="AddProduct" value="Save" name="buttonType" class="btn btn-primary">Save</button>
                <button type="submit" asp-action="AddProduct" value="Delete" name="buttonType" class="btn btn-primary">Delete</button>
                <button type="submit" asp-action="AddProduct" value="DeleteRetrieve" name="buttonType" class="btn btn-primary">Delete Retrieve</button>
            </center>
        </div>
        <div class="row" style="margin-top:40px">
            <div class="col-md-12 col-lg-1 ">
            </div>
            <div class="col-md-12 col-lg-1 ">
            </div>
        </div>
    </div>
 
    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }
    @if (ViewBag.NoProductMessage != null)
    {
        <script>
            handleMessages("@ViewBag.NoProductMessage");
        </script>
    }
    @if (ViewBag.PriceErrorMessage != null)
    {
        <script>
            handleMessages("@ViewBag.PriceErrorMessage");
        </script>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            handleMessages("@ViewBag.ErrorMessage");
        </script>
    }

    @if (ViewBag.CatErrorMessage != null)
    {
        <script>
            handleMessages("@ViewBag.CatErrorMessage");
        </script>
    }

</form>

