@model ProductMatserModel

@{
    ViewData["Title"] = "ProductMasterModel";
}

<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }

</script>


<div id="popupMessage" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: black; padding: 30px; border: 10px solid white; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 20px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>


<form asp-controller="StellarBilling">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="row">
                <div class="col-md-12 col-lg-2">
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div style="background-color:#8c62c9">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="container">
                                    <h2 class="centered text-white" style="font-family:'Lucida Bright';margin-left:27%;">Product Master</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" style="height:8%">
            </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                    <div class="form-floating form-floating-outline mb-4">
                        @{
                            var getscheduleid = ((IEnumerable<CategoryMasterModel>)ViewData["categoryid"])
                            .Select(m => new SelectListItem
            {
                Value = m.CategoryID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.CategoryID} - {m.CategoryName}"
            });
                        }

                        @Html.DropDownListFor(model => model.CategoryID, getscheduleid, "Select Category ID", new { @class = "form-control"})
                        <label asp-for="CategoryID" class="control-label">Category ID</label>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>


                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="ProductID" class="form-control" placeholder="ProductID" required />
                <label asp-for="ProductID" class="control-label"></label>
               
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>

                    <button type="submit" value="Get" asp-action="AddProduct" name="buttonType" class="btn btn-primary">Get</button>

                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="ProductName" value="@Model.ProductName" class="form-control" placeholder="ProductName" />
                <label asp-for="ProductName" class="control-label"></label>
               
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Brandname" value="@Model.Brandname" class="form-control" placeholder="Brand Name" />
                <label asp-for="Brandname" class="control-label">Brand Name</label>
              
                <span asp-validation-for="Brandname" class="text-danger"></span>
            </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">


            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Price" value="@Model.Price" class="form-control" placeholder="Price" />
                <label asp-for="Price" class="control-label"></label>
                
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Discount"  value="@Model.Discount" class="form-control" placeholder="Discount" />
                <label asp-for="Discount" class="control-label"></label>
               
                <span asp-validation-for="Discount" class="text-danger"></span>
@*             </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="TotalAmount" id="TotalAmount" value="@Model.TotalAmount" class="form-control" placeholder="TotalAmount" readonly />
                <label asp-for="TotalAmount" class="control-label"></label>
             
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div> *@

                    <br />
                </div>
            </div>

            <div class="col-md-12 col-lg-1" style="height:10%;">
                <div class="form-floating form-floating-outline mb-4">
                </div>
            </div>
            <div class="form-group">
                <center>

                    <button type="submit" asp-action="AddProduct" value="Save" name="buttonType" class="btn btn-primary">Save</button>
                    <button type="submit" asp-action="AddProduct" value="Delete" name="buttonType" class="btn btn-primary">Delete</button>
                    <button type="submit" asp-action="AddProduct" value="DeleteRetrieve" name="buttonType" class="btn btn-primary">Delete Retrieve</button>
                </center>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-md-12 col-lg-1 ">
                </div>
                <div class="col-md-12 col-lg-1 ">
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            handleMessages("@ViewBag.ErrorMessage");
        </script>
    }
</form>

  