@model StellarBillingSystem.Models.RollTypeMaster

@{
    ViewData["Title"] = "RollTypeMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>

<div id="popupMessage" class="dividerblack popborder" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: #fff; padding: 30px; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<style>
    .popborder {
        border: 10px solid #fff;
    }
</style>



      <form asp-action="AddRolltype" asp-controller="StellarBilling">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12 col-lg-0"></div>
        <div class="col-md-12 col-lg-12" style="padding: 0;">
            <div class="card" style="height:40px;">
                <div class="card-body dividerblack">
                    <div style="display: flex; align-items: center; height: 100%;">
                        <div class="container" style="text-align: left; width: 100%;">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'; margin: 0;">
                                RollType Master
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="height:8%"></div>

    <div class="row" style="margin-top:60px">
        <div class="col-md-12 col-lg-0"></div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body dividerblack">
                    <div class="row gy-4">
                        <div class="col-md-12 col-lg-0"></div>
                        <div class="col-md-12 col-lg-4">


            <div class="form-floating form-floating-outline mb-4">

                <input asp-for="RollID" value="@Model.RollID" class="form-control" placeholder="Roll ID" required />
                <label asp-for="RollID" class="control-label">Roll ID</label>
                
            </div>

                        </div>


                        <div class="col-md-12 col-lg-4">
                            <div class="form-floating form-floating-outline mb-4">

                                <input type="RollName" value="@Model.RollName" name="RollName" class="form-control" placeholder="Roll Name" />
                                <label asp-for="RollName" class="control-label">Roll Name</label>

                            </div>

                        </div>
                      
                        <div class="col-md-12 col-lg-2" style="align-items:center">
                           
                                <button type="submit" style="width:100px" value="Get" name="buttonType" class="btn btn-primary">Get</button>
                           

                        </div>

                        <div class="col-md-12 d-flex justify-content-center">


                            <button type="submit" style="width:180px" value="Save" class="btn btn-primary mx-2">Save</button>

                            <button type="submit" style="width:180px" value="Delete" name="buttonType" class="btn btn-primaryred mx-2">Delete</button>
                            <button type="submit" style="width:180px" value="DeleteRetrieve" name="buttonType" class="btn btn-primaryellow mx-2">Delete Retrieve</button>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

   

            @if (ViewBag.Message != null)
            {
                <script>
                    handleMessages("@ViewBag.Message");
                </script>
            }

            @if (ViewBag.getMessage != null)
            {
                <script>
                    handleMessages("@ViewBag.getMessage");
                </script>
            }

            @if (ViewBag.delMessage != null)
            {
                <script>
                    handleMessages("@ViewBag.delMessage");
                </script>
            }

            @if (ViewBag.delnoMessage != null)
            {
                <script>
                    handleMessages("@ViewBag.delnoMessage");
                </script>
            }

            @if (ViewBag.retMessage != null)
            {
                <script>
                    handleMessages("@ViewBag.retMessage");
                </script>

            }

            @if (ViewBag.noretMessage != null)
            {
                <script>
                    handleMessages("@ViewBag.noretMessage");
                </script>
            }

    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            handleMessages("@ViewBag.ErrorMessage");
        </script>
    }

        </form>
   